.about-us {
  .container-mobile ();

  @media (min-width: @tablet) {
    .container ();
  }
}

.about-us__list {
  .list ();

  @media (min-width: @tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop) {
    padding: 0 calc(100% / 6);
  }
}

.about-us__title {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: @black;

  @media (min-width: @desktop) {
    padding: 0 calc(100% / 6);
  }
}

.about-us__item {
  padding: 80px 0 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: @black;
}
