.about-us__list {
  .list ();
}

.about-us__title {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: @black;
}

.about-us__item {
  padding: 80px 0 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: @black;
}
