.button {
  padding: 12px 99px;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: inherit;
  background-color: transparent;
  border: 2px solid @dark-grey;
}
