.catalog-nav__list {
  .list ();
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet) {
    .container ();
    position: relative;
    flex-direction: row;
    margin-top: -120px;
  }
}

.catalog-nav__item {
  @media (min-width: @tablet) {
    width: 50%;
  }
}

.catalog-nav__link {
  position: relative;
  display: block;
  height: 103px;
  padding: 25px 30px 30px;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 19px;
  color: @white;

  &:hover,
  &:focus,
  &:active {
    height: 108px;
    margin-top: -5px;
  }

  @media (min-width: @tablet) {
    height: 119px;
    padding-left: 35px;
    font-size: 20px;
    line-height: 30px;

    &:hover,
    &:focus,
    &:active {
      height: 124px;
      margin-top: -5px;
    }
  }
}

.catalog-nav__link--interior {
  background-color: @cyan-63;

  &:hover,
  &:focus,
  &:active {
    background-color: @cyan-59;
  }
}

.catalog-nav__link--toy {
  background-color: @cyan-56;

  &:hover,
  &:focus,
  &:active {
    background-color: @cyan-46;
  }
}

.catalog-nav__title {
  display: block;
  width: 50%;
}

.catalog-nav__icon {
  position: absolute;
  fill: @dark-cyan;
  fill-opacity: 0.5;

  &--interior {
    top: 24px;
    right: 36px;
  }

  &--toy {
    top: 22px;
    right: 27px;
  }

  @media (min-width: @tablet) {
    &--interior {
      top: 30px;
    }

    &--toy {
      top: 32px;
      right: 34px;
    }
  }
}

.catalog-nav__link:hover .catalog-nav__icon,
.catalog-nav__link:focus .catalog-nav__icon {
  fill-opacity: 0.7;
}

.catalog-nav__link:active .catalog-nav__icon {
  fill-opacity: 0.3;
}
