.catalog-nav__list {
  .list ();
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet) {
    .container ();
    flex-direction: row;
    margin-top: -74px;
  }
}

.catalog-nav__item {
  @media (min-width: @tablet) {
    width: 50%;
  }
}

.catalog-nav__link {
  display: block;
  padding: 25px 30px;
  font-weight: bold;
  font-size: 19px;
  color: @white;
}

.catalog-nav__link--interior {
  background-color: @cyan-63;
}

.catalog-nav__link--toy {
  background-color: @cyan-56;
}
