.contacts__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: @black;
}

.contacts__info {
  font-size: 14px;
  line-height: 30px;
}

.contacts__email {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: @cyan-62;
}

.contacts__map {
  background: url("../../img/map.jpg") 0 0 no-repeat;
}
