.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
  color: @black;
  border-top: 1px solid @lighter-grey;

  @media (min-width: @tablet) {
    border: none;
  }
}

.copyright__text {
  margin-right: 27px;
  padding-bottom: 3px;

  @media (min-width: @desktop) {
    padding-bottom: 7px;
  }
}

.copyright__link {
  fill: @cyan-63;

  &:hover,
  &:focus {
    fill: @cyan-46;
  }

  &:active {
    fill: @cyan-46;
    fill-opacity: 0.3;
  }
}
