.form__section-background-wrapper {
  @media (min-width: @tablet) {
    background-color: @very-light-grey;
  }
}

.form__section-wrapper {
  .container-mobile ();

  @media (min-width: @tablet) {
    .container ();
  }
}

.form__section {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  padding: 0;
  border: none;

  &--radio,
  &--checkbox {
    padding: 35px 0 43px;
  }

  &--name {
    padding: 28px 0 13px;
  }

  &--contacts {
    position: relative;
  }

  &--comment {
    margin-bottom: 16px;
  }

  @media (min-width: @tablet) {
    max-width: 800px;
    padding-left: calc(100% / 4);
    box-sizing: border-box;

    &--radio,
    &--checkbox {
      padding-top: 66px;
      padding-bottom: 67px;
    }

    &--checkbox {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 22px;
      grid-row-gap: 15px;
      padding-bottom: 25px;
    }

    &--name {
      padding-top: 62px;
      padding-bottom: 14px;
    }

    &--contacts {
      padding-top: 55px;
      padding-bottom: 21px;
    }

    &--comment {
      margin-bottom: 53px;
      padding-top: 50px;
    }

    &--order {
      padding-left: 0;
    }
  }

  @media (min-width: @desktop) {
    max-width: 1050px;
    margin: 0;
    padding-right: 110px;
    padding-left: calc(100% / 6);

    &--checkbox {
      grid-template-columns: repeat(3, 1fr);
    }

    &--radio {
      padding-bottom: 65px;
    }

    &--name,
    &--contacts,
    &--comment,
    &--order {
      padding-right: calc(100% / 6);
    }

    &--comment {
      margin-bottom: 49px;
    }
  }
}

.form__title {
  position: relative;
  display: block;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: @cyan-63;

  &--contacts {
    margin-bottom: 9px;
  }

  &--comment {
    margin-bottom: 22px;
  }

  @media (min-width: @tablet) {
    position: absolute;
    top: 68px;
    left: 0;

    &[for="email"] {
      top: 143px;
    }
  }

  @media (min-width: @desktop) {
    left: 60px;
  }
}

.form__wrapper-name {
  @media (min-width: @tablet) {
    display: flex;
  }
}

.form__input {
  &--radio:not(:last-child) {
    margin-bottom: 24px;
  }
}

.form__input-radio:focus + .form__label--radio::before {
  border-color: @cyan-62;
}

.form__input-radio:checked + .form__label--radio::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 12px;
  width: 0;
  height: 0;
  box-sizing: border-box;
  border: 8px solid @cyan-62;
  border-radius: 50%;
  cursor: pointer;

  @media (min-width: @tablet) {
    top: -1px;
    left: 18px;
    border-width: 10px;
  }
}

.form__input-radio:disabled + .form__label--radio,
.form__input-radio:disabled + .form__label--radio::before,
.form__input-radio:disabled + .form__label--radio::after {
  opacity: 0.5;
}


.form__input-radio:disabled + .form__label--radio:hover::before {
  border-color: @dark-grey;
}

.form__input-checkbox:focus + .form__label--checkbox::before {
  border-color: @cyan-62;
}

.form__input-checkbox:checked + .form__label--checkbox::after {
  content: "";
  position: absolute;
  top: 0;
  left: 7px;
  width: 24px;
  height: 17px;
  background: url("../img/checkbox-icon.svg") 0 0 no-repeat;
  cursor: pointer;

  @media (min-width: @tablet) {
    left: 10px;
    width: 32px;
    height: 22px;
    background-size: 100% auto;
  }
}

.form__input-checkbox:disabled + .form__label--checkbox,
.form__input-checkbox:disabled + .form__label--checkbox::before {
  opacity: 0.5;
}

.form__input-checkbox:disabled + .form__label--checkbox:hover::before {
  border-color: @dark-grey;
}

.form__label {
  position: relative;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: @black;

  &--radio::before {
    content: "";
    position: absolute;
    top: -7px;
    left: 0;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border: 2px solid @dark-grey;
    border-radius: 50%;
    cursor: pointer;
  }

  &--radio:hover::before {
    border-color: @cyan-62;
  }

  &--radio:active::before {
    border-color: @black-3;
  }

  &--checkbox::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 38px;
    height: 38px;
    box-sizing: border-box;
    border: 2px solid @dark-grey;
    cursor: pointer;
  }

  &--checkbox:hover::before {
    border-color: @cyan-62;
  }

  &--checkbox:active::before {
    border-color: @black-3;
  }

  &--radio,
  &--checkbox {
    padding-left: 60px;
  }

  &--name {
    margin-bottom: 6px;
  }

  &--radio:not(:last-child) {
    min-height: 36px;
    margin-bottom: 24px;
  }

  &--checkbox:not(:last-child) {
    margin-bottom: 43px;
  }

  @media (min-width: @tablet) {
    margin-right: 25px;
    font-size: 19px;

    &--radio::before {
      top: -16px;
      left: 3px;
      width: 50px;
      height: 50px;
    }

    &--checkbox::before {
      top: -16px;
      left: 0;
      width: 52px;
      height: 52px;
    }

    &--radio,
    &--checkbox {
      padding-left: 81px;
    }

    &--radio:not(:last-child) {
      min-height: 18px;
      margin-bottom: 58px;
    }

    &--name {
      margin-bottom: 54px;
      padding-top: 4px;
    }
  }

  @media (min-width: @desktop) {
    &--checkbox::before {
      top: -18px;
    }
  }
}

.form__input-text {
  width: 100%;
  margin-bottom: 22px;
  padding: 9px 0 14px;
  box-sizing: border-box;
  font-size: 17px;
  line-height: 1;
  font-family: inherit;
  color: inherit;
  border: none;
  box-shadow: inset 0 -2px 0 @black;

  &::placeholder {
    font-family: inherit;
    color: @black;
    opacity: 0.3;
  }

  &:hover,
  &:focus,
  &:active {
    box-shadow: inset 0 -2px 0 @cyan-62;
  }

  &--contacts {
    margin-bottom: 36px;
  }

  @media (min-width: @tablet) {
    align-self: flex-start;
    padding-top: 0;
    padding-left: 17px;
    font-size: 19px;

    &--contacts {
      width: 100%;
      margin-bottom: 29px;
      padding-top: 5px;
      padding-bottom: 16px;
      background-color: transparent;
    }
  }
}

.form__comment {
  display: block;
  padding: 15px;
  box-sizing: border-box;
  font-size: 17px;
  line-height: 18px;
  font-family: inherit;
  color: @black;
  border: 2px solid @dark-grey;

  &::placeholder {
    font-size: 17px;
    line-height: 18px;
    font-family: inherit;
    color: @black;
    opacity: 0.3;
  }

  &:hover,
  &:focus,
  &:active {
    border-color: @cyan-62;
  }

  @media (min-width: @tablet) {
    font-size: 19px;

    &::placeholder {
      font-size: 19px;
    }
  }
}

.form__text {
  margin-bottom: 31px;
  font-size: 14px;
  line-height: 16px;

  @media (min-width: @tablet) {
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: @desktop) {
    right: calc(100% / 6);
  }
}

.form__button {
  align-self: center;
  margin-bottom: 55px;

  @media (min-width: @tablet) {
    align-self: flex-start;
    width: 230px;
    margin-bottom: 50px;
  }
}

@media (max-width: @mobile-only) {
  .form__title {
    width: 100%;

    &::after {
      content: "";
      position: absolute;
      top: 7px;
      right: 0;
      width: calc(100% - 60px);
      height: 1px;
      background-color: @cyan-62;
    }

    &--contacts[for="email"]::after {
      width: calc(100% - 78px);
    }
  }
}

.form__contacts-icon {
  position: absolute;
  fill: @black;
  fill-opacity: 0.2;

  &--phone {
    top: 30px;
    right: 8px;
    width: 25px;
    height: 24px;
  }

  &--mail {
    top: 143px;
    right: 3px;
    width: 32px;
    height: 21px;
  }

  @media (min-width: @tablet) {
    &--phone {
      top: 60px;
      right: 25px;
    }

    &--mail {
      right: 21px;
    }
  }

  @media (min-width: @desktop) {
    &--phone {
      right: calc(100% / 6 + 8px);
    }

    &--mail {
      right: calc(100% / 6 + 4px);
    }
  }
}

.form__input-text--contacts:hover + .form__contacts-icon,
.form__input-text--contacts:focus + .form__contacts-icon,
.form__input-text--contacts:active + .form__contacts-icon {
  fill: @cyan-62;
  fill-opacity: 1;
}
