.page-main__title {
  min-height: 289px;
  padding: 87px 30px;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  color: @black;
  background: @very-light-grey url("../../img/bg-main.jpg") 0 0 no-repeat;
}
