.production {
  .container-mobile ();
  margin-bottom: 57px;

  @media (min-width: @tablet) {
    .container ();
    margin-bottom: 64px;
  }

  @media (min-width: @desktop) {
    margin-bottom: 105px;
  }
}

.production__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 260px;
  margin: 0 auto;

  @media (min-width: @tablet) {
    width: 668px;
  }

  @media (min-width: @desktop) {
    flex-direction: row;
    width: auto;
    margin: 0;
  }
}

.production__inner {
  padding-top: 21px;
  box-sizing: border-box;
  border: 1px solid @light-grey;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px @black-1;
  }

  &:active {
    box-shadow: 0 3px 5px @black-1;
  }

  @media (min-width: @tablet) {
    width: 668px;
    margin: 0 auto;
    padding-top: 40px;
  }

  @media (min-width: @desktop) {
    padding-top: 95px;
    padding-left: 78px;

    &:hover,
    &:focus {
      box-shadow: 6px 0 10px @black-1;
    }

    &:active {
      box-shadow: 3px 0 5px @black-1;
    }
  }
}

.production__title {
  position: relative;
  margin: 0;
  margin-bottom: 211px;
  padding-left: 91px;
  font-weight: bold;
  font-size: 17px;
  color: @black;

  &::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 33px;
    width: 32px;
    height: 22px;
    background: url("../../img/video-icon.svg") 0 0 no-repeat;
  }

  @media (min-width: @tablet) {
    margin-bottom: 24px;
    padding-left: 106px;
    font-size: 20px;

    &::before {
      top: -2px;
      left: 41px;
    }
  }

  @media (min-width: @desktop) {
    margin-bottom: 28px;
    padding-right: 57px;
    padding-left: 0;

    &::before {
      top: -49px;
      left: 0;
    }
  }
}

.production__video {
  position: absolute;
  top: 95px;
  left: calc(100% / 2 - 130px);

  @media (min-width: @tablet) {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
  }

  @media (min-width: @desktop) {
    flex-shrink: 0;
  }
}

.production__video-image {
  display: block;
  width: 260px;
  height: 150px;

  @media (min-width: @tablet) {
    width: 668px;
    height: 455px;
  }

  @media (min-width: @desktop) {
    width: 683px;
    height: 455px;
  }
}

.production__video-button {
  position: absolute;
  top: calc(100% / 2 - 39px);
  left: calc(100% / 2 - 50px);
  width: 101px;
  height: 77px;
  padding: 0;
  background: transparent url("../../img/play-icon.svg") 0 0 no-repeat;
  border: 0;
  cursor: pointer;

  &:hover,
  &:focus {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.8);
    opacity: 0.3;
  }
}

.production__text {
  margin: 0;
  margin-bottom: 41px;
  padding: 0 25px 0 34px;
  font-size: 13px;

  @media (min-width: @tablet) {
    padding-left: 40px;
    font-size: 15px;
    line-height: 30px;
  }

  @media (min-width: @desktop) {
    margin-bottom: 51px;
    padding-right: 57px;
    padding-left: 0;
  }
}

.production__button {
  display: block;
  width: 192px;
  margin: 0 auto 33px;

  @media (min-width: @tablet) {
    width: 584px;
    margin-bottom: 45px;
    font-size: 17px;
  }

  @media (min-width: @desktop) {
    width: 230px;
    margin: 0;
  }
}
