.production {
  .container-mobile ();
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet) {
    .container ();
  }

  @media (min-width: @desktop) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: min-content 1fr min-content;
  }
}

.production__title {
  font-weight: bold;
  font-size: 17px;
  color: @black;
}

.production__video {
  @media (min-width: @tablet) {
    order: -1;
  }

  @media (min-width: @desktop) {
    grid-row-start: 1;
    grid-row-end: -1;
    grid-column-start: 1;
  }
}

.production__text {
  font-size: 13px;
}
