.product-catalog__title {
  padding: 73px 42px;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  color: @black;
  background-color: @very-light-grey;
}

.product-catalog__list {
  .list();
}

.product-catalog__product-title {
  font-weight: bold;
  font-size: 17px;
  color: @black;
}

.product-catalog__product-description {
  font-size: 13px;
  line-height: 30px;
}

.product-catalog__product-price {
  font-weight: bold;
  color: @black;
}
