// colors

@white: #FFFFFF;
@very-light-grey: #F1F1F1;
@light-grey: #ECECEC;
@grey: #C6C6C6;
@dark-grey: #444444;
@black: #000000;

@very-dark-cyan: rgba(0, 1, 1, 0.25);

@cyan-46: #46C1AE;
@cyan-56: #56C3B2;
@cyan-59: #59D5BC;
@cyan-62: #62D1BA;
@cyan-63: #63D1BB;


//viewports

@tablet: 768px;
@desktop: 1150px;
